@page "/"

@using Civ4.MapGeneration.Layers.Landmasses;

<h1>Civ4 Map Visualizer</h1>

@if (Boundary != null && LandTiles != null)
{
<div class="grid-container" style="
        display: grid;
        --grid-cols: @Boundary.Width;
        --grid-rows: @Boundary.Height;
        grid-template-rows: repeat(var(--grid-rows), 0fr);
        grid-template-columns: repeat(var(--grid-cols), 0fr)">
        @for (int j = Boundary.Height; j >= 0; j--)
        {
            for (int i = 0; i < Boundary.Width; i++)
            {
                var isLand = LandTiles.Any(t => t.Location.X == i && t.Location.Y == j);

                if (isLand)
                {
                    <div style="background-color:#2da84e; height: 40px; width: 40px; font-size: x-small;">
                        (@i, @j)
                    </div>
                }
                else
                {
                    <div style="background-color:#1c52d9; height: 40px; width: 40px; font-size: x-small;">
                        (@i, @j)
                    </div>
                }
            }
        }
</div>
}

@code {

    public List<Tile> LandTiles { get; set; }

    public Boundary Boundary { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("Generating world with 2 continents");

            var dimensions = new Dimensions(60, 35);
            Boundary = Boundary.FromDimensions(dimensions, 0, 0);
            LandTiles = World.Continents(dimensions, 2)
                .LandTiles
                .ToList();
            
            StateHasChanged();
        }

        return Task.CompletedTask;
    }
}
